body{
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
}

/* SITE HEADER */
.site-header{
  background-color: #ffffff; 
}

/* SITE NAV */
.sitenav-link{
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.sitenav-list{
  list-style: none;
}

/* MAIN LINK */
.main-link{
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  background-color: #FF7500;
  color: #FFFFFF;
  text-decoration: none;
}

/* HERO */
.hero{
  background-color: #252420;
  color: #ffffff;
}

.hero-content{
  width: 390px;
}

.orange-line{
  width: 80px;
  height: 3px;
  background-color: #FF7500;
}

.hero-heading{
  font-family: 'Roboto Condensed';
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.hero-text{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.hero-img{
  width: 510px;
  height: 510px;
}

/* FEATURES */
.features-heading{
  font-family: 'Roboto Condensed';
  width: 440px;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

/* FEATURE */
.feature-item{
  width: 340px;
}

.featur-icon-wrapper{
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
}

.feature-title{
  font-family: 'Roboto Condensed';
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.feature-info{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

/* PROMO */
.promo{
  background-color: #252420;
  color: #ffffff;
}

.promo-content{
  width: 440px;
}

.promo-heading{
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.5px;
}

.promo-text{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.promo-highlight{
  font-weight: 700;
  color: #FF7500;
}

.promo-img{
  width: 440px;
  height: 440px;
  object-fit: cover;
}

/* FOOTER */
.site-footer{
  background-color: #F8F8F8;
}

.site-footer ul{
  list-style: none;
}

.site-footer-divider{
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);
}

.site-footer-links{
  width: 224px;
}

.site-footer-links a{
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #252420;
}