body{
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

*:focus{
  outline: 2px dotted #FF7500;
  outline-offset: 3px;
}

ul{
  list-style: none;
}

/* SITE HEADER */
.site-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff; 
}

.logo-link{
  transition: opacity 0.4s ease;
}

.logo-link:hover{
  opacity: 0.8;
}

.logo-link:active{
  opacity: 0.6;
}

.site-header-actions{
  display: flex;
  align-items: center;
}

/* SITE NAV */

.sitenav-list{
  list-style: none;
  display: flex;
}

.sitenav-link{
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  transition: color 0.4s ease,
    opacity 0.4 ease;
}

.sitenav-link:hover{
  color: #FF7500;
}

.sitenav-link:active{
  opacity: 0.6;
}


/* MAIN LINK */
.main-link{
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  background-color: #FF7500;
  color: #FFFFFF;
  text-decoration: none;
  transition:  opacity 0.4 ease;
}

.main-link:hover{
  opacity: 0.8;
}

.main-link:active{
  opacity: 0.6;
}

/* HERO */
.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #252420;
  color: #ffffff;
}

.hero-content{
  width: 390px;
}

.orange-line{
  width: 80px;
  height: 3px;
  background-color: #FF7500;
}

.hero-heading{
  font-family: "Roboto Condensed","Roboto", "Arial", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
}

.hero-img{
  width: 510px;
  height: 510px;
}

/* FEATURES */
.features-heading{
  font-family: "Roboto Condensed","Roboto", "Arial", sans-serif;
  width: 440px;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
}

.features-list{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

/* FEATURE */
.feature-item{
  width: 340px;
}

.feature-icon-wrapper{
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
}

.feature-title{
  font-family: "Roboto Condensed","Roboto", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

/* PROMO */
.promo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252420;
  color: #ffffff;
}

.promo-content{
  width: 440px;
}

.promo-heading{
  font-family: "Roboto Condensed","Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.promo-highlight{
  font-weight: 700;
  color: #FF7500;
}

.promo-img{
  width: 440px;
  height: 440px;
  object-fit: cover;
}

/* FOOTER */
.site-footer{
  background-color: #F8F8F8;
}

.site-footer-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.site-footer-socials{
  display: flex;
  align-items: center;
}

.site-footer-socials a{
  color: #252420;
}

.site-footer-socials a:hover{
  color: #FF7500;
}

.site-footer-socials a:active{
  opacity: 0.6;
}
 
.site-footer-divider{
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);
}

.site-footer-bottom{
  display: flex;
}

.site-footer-links{
  width: 224px;
  line-height: 19px;
}

.site-footer-links a{
  text-decoration: none;
  color: #252420;
}

.site-footer-links a:hover{
  color: #FF7500;
}

.site-footer-links a:focus{
  opacity: 0.6;
}